variables.json
key.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
credentials.aws
*.retry
keys.tf
yacloud_compute.yml
jdauphant.nginx
# Vagrant & molecule
.vagrant/*
.log
*.pyc
.molecule
.cache
.pytest_cache
.env
*.swp
terraform-key.json 
terraform.tfvars
