{
  "key": "./packer/keys.json",
  "folder_id": "b1g",
  "zone": "ru-central1-a",
  "subnet_id": "e9b",
  "source_image_family": "ubuntu-1604-lts",
  "ssh_username": "ubuntu",
  "disk_name": "ubuntu-with-docker-dsk",
  "disk_size_gb": "5"
}